<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ookii.Dialogs.Wpf" version="3.1.0" targetFramework="net472" />
  <package id="ScottPlot" version="4.0.48" targetFramework="net472" />
  <package id="ScottPlot.WPF" version="4.0.48" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net472" />
  <package id="System.Management" version="5.0.0" targetFramework="net472" />
</packages>